html, body, div, p, li {
  margin: 0;
  padding: 0; }

html, body {
  font-family: "Microsoft YaHei", SimHei;
  -webkit-font-smoothing: antialiased;
  /* -webkit-text-stroke-width: 0.2px; */
  -moz-osx-font-smoothing: grayscale;
  text-align: center; }

a {
  text-decoration: none; }
