.figure-wrap {
  display: inline-block; }

.hp-wrap {
  display: inline-block;
  height: 15px;
  margin: 2.5px;
  border-radius: 7.5px;
  width: 300px;
  vertical-align: top;
  background-color: #eaeaea;
  overflow: hidden; }

.hp {
  background-color: limegreen;
  border-radius: 7.5px;
  width: 10px;
  height: 15px; }

.hp-val {
  display: inline-block; }
