<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>dota2攻击机制</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/fightTest.css">
    <script src="js/commons.js" charset="utf-8"></script>
    <script src="js/fightTest.js"></script>
</head>
<body>
    <div class="figure-wrap">
        <p class="figure-img"></p>
        <div class="hp-box">
            <div class="hp-wrap">
                <p class="hp"></p>
            </div>
            <div class="hp-val">100</div>
        </div>
        <form class="arg-setting">
            <label class="input-wrap">生命<input type="text"  id="health-val" placeholder="非负数"></label>
        </form>
    </div>
</body>
</html>