<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>马天俊的空间</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/commons.js" charset="utf-8"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <header>
    </header>
    <section class="inner-svg">
        <svg width="0" height="0">
            <defs>
                <clipPath id="life-clip-shape" clipPathUnits="objectBoundingBox">
                    <polygon points="0 1, 0 0, 1 0, 0.6 1" />
                </clipPath>
                <clipPath id="game-clip-shape" clipPathUnits="objectBoundingBox">
                    <polygon points="0 1, 0.4 0, 1 0, 1 1" />
                </clipPath>
                <clipPath id="figure-clip-shape" clipPathUnits="objectBoundingBox">
                    <polygon points="0.3 0, 0.7 0, 1 0.3, 1 0.7, 0.7 1, 0.3 1, 0 0.7, 0 0.3" />
                </clipPath>
            </defs>
        </svg>
    </section>
    <section id="main-body">
        <div id="life-part">
            <div class="life-title">
                <p>学习</p>
                <p>作为一个学渣并不热爱学习。</p>
                <p>但人总是要吃饭生活的。</p>
                <p>活着才能把时间花在自己喜欢的事情上。</p>
            </div>
        </div>
        <div id="personal-info">
            <div class="first">
                <p class="figure-wrap">
                    <img class="figure" src="img/figure.jpg"/>
                </p>
                <div class="base-info">
                    <p>马天俊</p>
                    <p>2016级计算机科学与技术学硕</p>
                    <p>学号：16214137</p>
                    <a class="git-link" href="https://github.com/jokermask" target="_blank">Github</a>
                </div>
            </div>
            <div>
                <p class="sub-title brief-title">个人简介：</p>
                <p>一个喜欢dota2的都比，静静在人生中旅行。</p>
            </div>
            <div>
                <p class="sub-title intern-title">实习经历</p>
                <ul>
                    <li>2015.07~2015.09 深圳华为总部 安卓研发工程师</li>
                    <li>2015.10~2015.12 广州三之乐信息科技有限公司 前端开发工程师</li>
                </ul>
            </div>
            <div>
                <p class="sub-title project-title">项目经历</p>
                <ul>
                    <li>道乐活动运营平台</li>
                    <li>广发微信抽奖活动</li>
                    <li>项目3</li>
                    <li>项目4</li>
                </ul>
            </div>
        </div>
        <div id="game-part">
            <div class="game-title">
                <p>生活</p>
                <p>游戏是我生活的一部分，我热爱dota！</p>
                <p>从不觉得打游戏浪费时间。</p>
                <p>因为时间就应该花在自己喜欢的事情上。</p>
            </div>
        </div>
    </section>
</body>
</html>
