<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>马天俊的空间</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/commons.js" charset="utf-8"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <header>
    </header>
    <section class="inner-svg">
        <svg width="0" height="0">
            <defs>
                <clipPath id="life-clip-shape" clipPathUnits="objectBoundingBox">
                    <polygon points="0 1, 0 0, 1 0, 0.6 1" />
                </clipPath>
                <clipPath id="game-clip-shape" clipPathUnits="objectBoundingBox">
                    <polygon points="0 1, 0.4 0, 1 0, 1 1" />
                </clipPath>
                <clipPath id="figure-clip-shape" clipPathUnits="objectBoundingBox">
                    <polygon points="0.3 0, 0.7 0, 1 0.3, 1 0.7, 0.7 1, 0.3 1, 0 0.7, 0 0.3" />
                </clipPath>
            </defs>
        </svg>
    </section>
    <section id="main-body">
        <div id="life-part">
            <div class="life-title">
                <p>学习</p>
                <p>了解一个新事物就是学习。</p>
                <p>并且学习能让我自给自足。</p>
                <p>活着才能把时间花在自己喜欢的事情上。</p>
            </div>
        </div>
        <div id="personal-info-wrap">
            <div id="personal-info">
                <div>
                    <div class="figure-wrap">
                        <img id="figure" src="img/figure.jpg"/>
                        <p id="dialog"></p>
                    </div>
                    <div class="base-info">
                        <p class="name-info">马天俊</p>
                        <div class="contact-info">
                            <p>手机：15521324430</p>
                            <p>邮箱：15521324430@163.com</p>
                        </div>
                        <div class="contact-info">
                            <p>地址：广州大学城中山大学</p>
                            <p>邮箱：510006</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="sub-title brief-title">个人简介：</p>
                    <p>喜欢游戏，更喜欢竞技游戏，玩过10余种moba游戏。想知道我的更多游戏经历请点击右侧的生活部分</p>
                </div>
                <div>
                    <p class="sub-title edu-title">教育背景：</p>
                    <ul>
                        <li><a class="time-stamp">2012.09~2016.06 </a>华南理工大学 网络工程专业学士</li>
                        <li><a class="time-stamp">2016.9~now</a>中山大学 计算机科学与技术学术型硕士</li>
                    </ul>
                    <a class="git-link" href="https://github.com/jokermask" target="_blank">Github</a>
                </div>
                <div>
                    <p class="sub-title intern-title">实习经历</p>
                    <ul>
                        <li><a class="time-stamp">2015.07~2015.09</a>深圳华为总部 安卓研发工程师</li>
                        <li><a class="time-stamp">2015.10~2015.12</a>广州三之乐信息科技有限公司 前端开发工程师</li>
                    </ul>
                </div>
                <div>
                    <p class="sub-title project-title">项目经历</p>
                    <ul>
                        <li>html5原生弹幕网站</li>
                        <li>道乐活动运营平台</li>
                        <li>广发微信抽奖活动</li>
                        <li>招商银行微信抽奖活动</li>
                    </ul>
                </div>
                <div>
                    <p class="sub-title school-title">校园经历</p>
                    <ul>
                        <li>研究生计算机科学与技术班班长</li>
                        <li>本科网络工程专业副班长</li>
                        <li>TCL俱乐部副主席</li>
                        <li>学生会公关部干事</li>
                    </ul>
                </div>
                <div>
                    <p class="sub-title reward-title">获奖经历</p>
                    <ul>
                        <li>本科期间：二等和三等奖学金各一次</li>
                        <li>读研至今：两次二等奖学金</li>
                        <li>广东省图形图像大赛三等奖</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="game-part" onclick="window.location.href='./dota2FAD';">
            <div class="game-title">
                <p>生活</p>
                <p>游戏是我生活的一部分，我热爱dota！</p>
                <p>从不觉得打游戏浪费时间。</p>
                <p>因为时间就应该花在自己喜欢的事情上。</p>
            </div>
        </div>
    </section>
</body>
</html>
