@import "color";
$game-bg: url("../img/dota2bg.jpg") ;
$life-bg: url("../img/lifebg.jpg") ;
$git-icon: url("../img/git-icon.png") ;
$dialog: url("../img/dialog.png") ;

@keyframes myfirst
{
  from {background: red;}
  to {background: yellow;}
}

#main-body{
  width: 100%;
  min-width: 1200px ;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

//life part
#life-part {
  float: left;
  position: relative;
  height: 100%;
  background: $life-bg no-repeat center center;
  background-size: cover;
  cursor: pointer;
  transition: all 1s ;
  &:hover{
    background: $life-bg no-repeat right center;
    background-size: cover;
    opacity: 1;
    .life-title{
      opacity: 1;
      top: 10% ;
    }
  }
}

#pj-list{
  width: 500px;
  margin: 0 auto;
  transition: all 1s ;
  li{
    height: 200px ;
    width: 400px;
    background-color: white;
  }
}
//toggle for life part
.bg-shrink-l {
  width: 30%;
  opacity: .5;
  clip-path: polygon(0 100%, 0 0, 100% 0, 60% 100%);
}

.bg-spread{
  width: 50%;
  opacity: 1;
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}

.life-title{
  position: absolute;
  top: 0;
  right: 30%;
  color: black;
  font-weight: bold;
  transition: all 1s cubic-bezier(.66,0,.28,.99);
  opacity: 0;
  p:nth-child(1){
    font-size: 50px;
    margin: 20px 0;
  }
}

//info part
#personal-info-wrap{
  position: relative;
  float: left;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

#personal-info{
  position: absolute;
  width: 100%;
  text-align: left;
  font-size: 20px;
  color: $base-font-color;
  &>div{
    margin: 20px 0;
    margin-left: 90px;
  }
}



.figure-wrap{
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  background: white;
  clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}

#figure{
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
  clip-path: url("#figure-clip-shape");
}

#dialog{
  position: absolute;
  bottom: 12px;
  left: 19px;
  width: 64px;
  height: 40px;
  text-align: center;
  line-height: 45px;
  font-size: 11px;
  font-weight: bold;
  color: black;
  background: $dialog no-repeat center center;
  background-size: contain;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}

.base-info{
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  text-align: left;
  font-size: 18px;
  .name-info{
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0;
  }
  .contact-info{
    display: inline-block;
  }
}

.git-link{
  vertical-align: bottom;
  color: white;
  text-decoration: underline;
  &:before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background: $git-icon no-repeat center center;
    background-size: cover;
  }
}

.out-link{
  text-decoration: underline;
  color: white;
}

.sub-title{
  font-weight: bold;
  &:before{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    content: "";
    opacity: .8;
    transition: all 1s;
    clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
  }
  &:hover{
    &:before{
      transform:rotate(360deg);
      -ms-transform:rotate(360deg); 	/* IE 9 */
      -moz-transform:rotate(360deg); 	/* Firefox */
      -webkit-transform:rotate(360deg); /* Safari/Chrome */
      -o-transform:rotate(360deg);
    }
  }
}

.time-stamp{
  margin-right: 15px;
  color: aqua;
}

.game-type{
  margin-right: 15px;
  color: aqua;
}

.brief-title{
  margin-bottom: 10px;
  &:before{
    background-color: red;
  }
}


.edu-title{
  margin-bottom: 10px;
  &:before{
    background-color: green;
  }
}

.played-title{
  &:before{
    background-color: saddlebrown;
  }
}

.intern-title{
  &:before{
    background-color: deepskyblue;
  }
}

.project-title {
  &:before {
    background-color: purple;
  }
}

.school-title{
  &:before{
    background-color: yellow;
  }
}

.reward-title{
  &:before{
    background-color: deeppink;
  }
}
//game part
#game-part {
  float: left;
  position: relative;
  width: 30%;
  height: 100%;
  background: $game-bg no-repeat center center;
  background-size: cover;
  opacity: .5;
  cursor: pointer;
  transition: all 1s ;
  clip-path: polygon(0 100%, 40% 0, 100% 0, 100% 100%);
  clip-path: url("#game-clip-shape");
  &:hover{
    background: $game-bg no-repeat left center;
    background-size: cover;
    opacity: 1;
    .game-title{
      opacity: 1;
      bottom: 15%;
    }
  }
}

.game-title{
  position: absolute;
  bottom: 0;
  left: 30%;
  color: white;
  font-weight: bold;
  transition: all 1s cubic-bezier(.66,0,.28,.99);
  opacity: 0;
  p:nth-child(1){
    font-size: 50px;
    margin: 20px 0;
  }
}



